<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
    <h1> Informacje o grupie </h1>

    <div class="container">
        <div class="jumbotron">
           <h2>Nazwa grupy: {{ grupy }} </h2>
            <ul>
                {% for osoba in osoby %}
                    <li>
                        <a href="{% url 'userstories:osoba_info' osoby.id %}">{{osoby}}</a>
                    </li>

                {% empty %}
                <li>Nie ma jeszcze żadnej osoby</li>
                {% endfor %}

            </ul>

        </div>
    </div>

</body>
</html>