<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>

    <h1> Skrzynka Kontaktowa - Lista Grup </h1>

    <div class="container">
        <div class="jumbotron">
            <ul>
                {% for grupa in lista_grup %}
                 <li>
                     <a href="{% url 'userstories:grupa_info' grupa.id %}"> {{grupa}}</a>
                     <a href="{% url 'userstories:edytuj_grupe' grupa.id %}"><button class="btn btn-primary">Edytuj grupę</button></a>
                     <a href="{% url 'userstories:usun_grupe' grupa.id %}"><button class="btn btn-primary">Usuń grupę</button></a>
                </li>

                {% empty %}
                <li>Nie ma jeszcze utworzonej żadnej grupy</li>
                {% endfor %}


            </ul>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a class="navbar-link" href="{% url 'userstories:dodaj_grupe' %}">Stwórz nowa grupę</a></li>
            </ul>
        </div>
    </nav>

</body>
</html>